In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv("ecommerce_clickstream_transactions.csv")

In [6]:
df.head(20)

,UserID,SessionID,Timestamp,EventType,ProductID,Amount,Outcome
0,1,1,2024-07-07 18:00:26.959902,page_view,NaN,NaN,NaN
1,1,1,2024-03-05 22:01:00.072000,page_view,NaN,NaN,NaN
2,1,1,2024-03-23 22:08:10.568453,product_view,prod_8199,NaN,NaN
3,1,1,2024-03-12 00:32:05.495638,add_to_cart,prod_4112,NaN,NaN
4,1,1,2024-02-25 22:43:01.318876,add_to_cart,prod_3354,NaN,NaN
5,1,1,2024-01-01 23:09:51.956825,page_view,NaN,NaN,NaN
6,1,1,2024-02-01 05:13:26.944169,add_to_cart,prod_4965,NaN,NaN
7,1,1,2024-02-14 15:41:53.071258,login,NaN,NaN,NaN
8,1,1,2024-05-20 23:13:38.011189,click,NaN,NaN,NaN
9,1,2,2024-06-27 16:17:34.523695,page_view,NaN,NaN,NaN
10,1,2,2024-03-31 07:56:23.690975,logout,NaN,NaN,NaN
11,1,2,2024-05-16 22:00:13.041682,click,NaN,NaN,NaN
12,1,2,2024-04-20 05:07:46.892185,product_view,prod_2683,NaN,NaN
13,1,2,2024-01-30 21:47:38.829172,page_view,NaN,NaN,NaN
14,1,2,2024-03-06 23:01:09.517819,page_view,NaN,NaN,NaN
15,1,3,2024-03-15 05:22:41.094810,purchase,prod_5244,72.913619,purchase
16,1,3,2024-01-21 19:23:27.047146,login,NaN,NaN,NaN
17,1,3,2024-02-13 21:58:06.439701,click,NaN,NaN,NaN
18,1,3,2024-05-29 13:33:10.268585,product_view,prod_9640,NaN,NaN
19,1,3,2024-02-02 22:42:42.062903,add_to_cart,prod_8364,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74817 entries, 0 to 74816
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     74817 non-null  int64
 1   SessionID  74817 non-null  int64
 2   Timestamp  74817 non-null  object
 3   EventType  74817 non-null  object
 4   ProductID  32113 non-null  object
 5   Amount     10682 non-null  float64
 6   Outcome    10682 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.0+ MB

In [4]:
df.describe()

             UserID     SessionID        Amount
count  74817.000000  74817.000000  10682.000000
mean     500.740741      5.509777    253.189758
std      288.945183      2.869337    143.043974
min        1.000000      1.000000      5.131843
25%      251.000000      3.000000    130.933965
50%      501.000000      6.000000    253.112517
75%      751.000000      8.000000    378.832078
max     1000.000000     10.000000    499.981538

In [11]:
df['EventType'].value_counts()

EventType
page_view       10819
add_to_cart     10735
product_view    10696
logout          10685
purchase        10682
click           10632
login           10568
Name: count, dtype: int64